@font-face {
  font-family: "iconfont"; /* Project id 2800774 */
  src: url('./iconfont.eot?t=1631162212113'); /* IE9 */
  src: url('./iconfont.eot?t=1631162212113#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./iconfont.woff2?t=1631162212113') format('woff2'),
       url('./iconfont.woff?t=1631162212113') format('woff'),
       url('./iconfont.ttf?t=1631162212113') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-3denglumima:before {
  content: "\e875";
}

.icon-buxianshimima:before {
  content: "\e676";
}

.icon-mimakejian:before {
  content: "\e61f";
}
